.info-btn {
    cursor: pointer;
    position: absolute;
    left: 20px;
    font-family: 'Roboto Slab', serif;
    border-radius: 5px;
    color: #000000;
    font-size: 15px;
    background: #fff;
    border: solid #000000 1px;
    text-decoration: none;
}

.about {
    top: 20px;
    padding: 5px 10px 5px 10px;
}

.help {
    width: 70px;
    top: 60px;
    padding: 5px 10px 5px 15px;
}

.hoverOn {
    transition: background-color 0.5s ease;
    background-color: #000000;
}

.hoverOn > a {
    transition: color 0.3s ease;
    color: #ffffff;
}

.hoverOff {
    transition: background-color 0.5s ease;
    background-color: #ffffff;
}

.hoverOff > a {
    transition: color 0.3s ease;
    color: #000000;
}