#color-picker {
    background-color: white;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid black;
    height: 160px;
    width: 50px;
    margin-left: -3%;
}

.palette-item {
    margin: 5.7px;
    height: 20px;
    width: 40px;
    border-radius: 5px;
}

.palette-item:hover {
    top: 2px;
}

.gray {
    background-color: #969696;
}

.red {
    background-color: #fb6a4a;
}

.orange {
    background-color: #fd8d3c;
}

.purple {
    background-color: #9e9ac8;
}

.blue {
    background-color: #6baed6;
}

.green {
    background-color: #74c476;
}