path {
	fill: #FFF;
	stroke: #000;
}

a {
	text-decoration: none;
	position: relative;
	font-family: 'Roboto Slab', serif;
	letter-spacing: 1px;
	font-weight: lighter;
	color: #000;
}

a:active {
	top: 2px;
}

a:visited {
	text-decoration: none;
}

p {
	font-family: 'Roboto Slab', serif;
}
