path {
    fill: white;
    stroke: black;
}

.states :hover {
    stroke: black;
    fill: red;
}

.state-overlay {
    z-index: 50;
    fill: white;
}

.state-enlarged {
    z-index: 100;
}

.county :hover {
    fill: red;
}
