path {
    fill: white;
    stroke: black;
}

.states :hover {
    stroke: black;
    fill: red;
}

.state-overlay {
    z-index: 50;
    fill: #5d5252;
}

.state-enlarged {
    /*transform: scale(3, 3);*/
}